#!/usr/bin/env xdg-open 
[Desktop Entry]
Name=Slack Web 
Comment=Cloud-based set of proprietary team collaboration tools and services.
Exec=slack-web-jak
Icon=applications-internet
Terminal=false
Type=Application
Categories=Network;
